[Unit]
Description=Copia de seguridad diaria de Docents en Lluita

[Timer]
OnCalendar=*-*-* 03:30:00
RandomizedDelaySec=15m
Persistent=true

[Install]
WantedBy=timers.target
